<h2><center>Your cart</center></h2>
<div id="cart">
    <table class="table table-striped">
      <thead>
        <tr>
       	  <th>Product</th>
       	  <th>Price</th>
       	  <th>Size (cm)</th>
       	  <th>Qty</th>
       	</tr>
      </thead>
      <tbody>
      <%total_price=0%>
      <%total_qty=0%>
      <%@items.each do |item|%>
       <tr>
       	  <td><b><%= item[0].title %></b></td>
       	  <td><%= item[0].price %> $</td>
       	  <td><%= item[0].size %></td>
       	  <td><%= item[1] %></td>
       </tr>
       <%total_price +=item[0].price * item[1].to_i%>
       <%total_qty +=item[1].to_i%>
      <% end %>
       <tr>
       		<td></td>
       		<td><b>Total price: <%= total_price %>$</b></td>
       		<td></td>
       		<td><b>Total qty: <%= total_qty %></b></td>
       </tr>

      </tbody>
    </table>

    </br>
    <form action="/order" method="POST"> 
    	<input name="order[orders_input]" type="hidden" value="<%= @orders_input %>" />  
        <div class="row">
          <div class="col-xs-6">
            <label>Enter your name</label>
            <input type="text" class="form-control" name="order[name]" placeholder="Enter your name" value="<%= @name %>">
          </div>
          <div class="col-xs-6">
            <label>Enter your phone number</label>
            <input type="text" class="form-control" name="order[phone]" placeholder="X-(XXX)-XXX-XX-XX" value="<%= @phone %>">
          </div>
        </div>
        </br>
        <div class="row">
          <div class="col-xs-6">
            <label>Delivery address</label>
            <textarea rows="3" cols="76" placeholder="Your address"  type="text" name="order[address]" value="<%= @adress %>"></textarea>
    	  </div>
          <div class="col-xs-6">
          </div>
        </div>
        </br>
        </br>
        <center>
          <p>
            <button type="submit" class="btn btn-success btn-lg">Place this order!</button>
            <button type="button" class="btn btn-danger btn-lg" onclick="cancel_order ()">Cancel</button>
          </p>
        </center>
    </form>
</div>






