<h2><center>Shop here</center></h2>
<div class="row">
  <div class="col-md-3">
  	<ul class="nav nav-pills nav-stacked green">
  		<li class="rbx-tab"><a href="/shop">All</a></li>
      <% @category.each do |cat| %>
  		  <li class="rbx-tab"> <a href="/shop/<%=cat.category%>"><%=cat.category%></a></li>
  		<% end %>
	</ul>
  </div>
  <div class="col-md-9">
   	<div class="row">
  		<% @products.each do |product| %>
    		<div class=" col-md-4">
      			<div class="thumbnail" style="height: 520px">
        			<img src="<%=product.path_to_image%>" class="img-thumbnail">
        			<div class="caption">
	          			<h3><center><%=product.title%></center></h3>
	          			<p><%=product.description%></p>
	          			<%if product.size && product.size > 0 then %>
                    <p>Pizza size: <%=product.size%> cm</p>
                  <% end %>
                  
	          			<p>Price: <b><%=product.price%> $</b></p>
	          			<p><a href="#" class="btn btn-success btn-xs" role="button" onclick="add_to_cart(<%=product.id%>)">Add to cart</a></p>
        			</div>
      			</div>
    		</div>  
  		<% end %>
	</div>
  </div>
</div>

<script type="text/javascript">
    $('li a').click(function () {
        $('li.rbx-tab').removeClass('active');
        $(this).closest('li.rbx-tab').addClass('active');
    });
    
</script>
